/* --------------------------- GLOBAL --------------------------- */

/* Nameplate size */
.member__5d473 .container__4bbc6 {
    left: 7px;
    width: 97%;
}

/* Clearer nameplate (mostly for member list) */
.videoContainer__4bbc6,
.img__4bbc6 {
    mask-image: none !important;
}

/* --------------------------- USER PANEL --------------------------- */
.panels__5e434:has(.activityPanel_c48ade) .container__4bbc6,
.panels__5e434:has(.container_e131a9) .container__4bbc6 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.panels__5e434 .container__4bbc6 {
    border-radius: inherit;
    left: -4px;
    top: -2px;
    height: 103%;
    width: 104%;
}

/* Remove border for VC panel and activity panel */
.visual-refresh .panels__5e434:has(.container__4bbc6) .wrapper_e131a9,
.visual-refresh .panels__5e434:has(.container__4bbc6) .panel__5dec7 {
    border-bottom: 0px solid rgba(225, 240, 253, 0.123);
}

/* Add border when VC panel and activity panel both appear */
.visual-refresh .panels__5e434:has(.container_e131a9) .panel__5dec7 {
    border-bottom: 1px solid rgba(225, 240, 253, 0.123);
}

/* Clearer nameplate display globally */
.img__4bbc6,
/* on member list */
.img__4bbc6.hover__4bbc6,
.img__4bbc6.selected__4bbc6,
/* on store */
.img__4bbc6.preview__4bbc6,
/* on user panel */
.img__4bbc6.account__4bbc6,
.img__4bbc6.account__4bbc6.hover__4bbc6,
/* on dm */
.img__4bbc6.channel__4bbc6.selected__4bbc6,
.img__4bbc6.channel__4bbc6.hover__4bbc6 {
    opacity: 1;
}



/* --------------------------- SPECIFIC NAMEPLATE --------------------------- */
.theme-dark {

    /* ------- Twilight + Sword of Legend + Sun and Moon + Blue Mana ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="twilight/asset.webm"]),
    .container__4bbc6:has(img[src$="twilight/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="sword_of_legend/asset.webm"]),
    .container__4bbc6:has(img[src$="sword_of_legend/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="sun_and_moon/asset.webm"]),
    .container__4bbc6:has(img[src$="sun_and_moon/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="blue_mana/asset.webm"]),
    .container__4bbc6:has(img[src$="blue_mana/static.png"]) {
        background: linear-gradient(270deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.4) 100%) !important;
    }

    /* ------- Cherry blossoms + Oasis + Cozy Cat ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="cherry_blossoms/asset.webm"]),
    .container__4bbc6:has(img[src$="cherry_blossoms/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="oasis/asset.webm"]),
    .container__4bbc6:has(img[src$="oasis/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="cozy_cat/asset.webm"]),
    .container__4bbc6:has(img[src$="cozy_cat/static.png"]) {
        background: linear-gradient(270deg, rgba(137, 58, 153, 0.1) 0%, rgba(137, 58, 153, 0.4) 100%) !important;
    }

    /* ------- Spririt of spring + Koi pond + Touch Grass + Under the Sea ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="spirit_of_spring/asset.webm"]),
    .container__4bbc6:has(img[src$="spirit_of_spring/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="koi_pond/asset.webm"]),
    .container__4bbc6:has(img[src$="koi_pond/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="touch_grass/asset.webm"]),
    .container__4bbc6:has(img[src$="touch_grass/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="under_the_sea/asset.webm"]),
    .container__4bbc6:has(img[src$="under_the_sea/static.png"]) {
        background: linear-gradient(270deg, rgba(0, 128, 183, 0.1) 0%, rgba(0, 128, 183, 0.4) 100%) !important;
    }

    /* ------- Cityscape + Cat beans + Vengeance + Black Mana + Glitch + Spirit Moon ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="cityscape/asset.webm"]),
    .container__4bbc6:has(img[src$="cityscape/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="cat_beans/asset.webm"]),
    .container__4bbc6:has(img[src$="cat_beans/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="vengeance/asset.webm"]),
    .container__4bbc6:has(img[src$="vengeance/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="black_mana/asset.webm"]),
    .container__4bbc6:has(img[src$="black_mana/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="glitch/asset.webm"]),
    .container__4bbc6:has(img[src$="glitch/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="spirit_moon/asset.webm"]),
    .container__4bbc6:has(img[src$="spirit_moon/static.png"]) {
        background: linear-gradient(270deg, rgba(115, 11, 200, 0.1) 0%, rgba(115, 11, 200, 0.4) 100%) !important;
    }

    /* ------- Angels + Bonsai + Pixie Dust ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="angels/asset.webm"]),
    .container__4bbc6:has(img[src$="angels/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="bonsai/asset.webm"]),
    .container__4bbc6:has(img[src$="bonsai/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="pixie_dust/asset.webm"]),
    .container__4bbc6:has(img[src$="pixie_dust/static.png"]) {
        background: linear-gradient(270deg, rgba(220, 62, 151, 0.1) 0%, rgba(220, 62, 151, 0.4) 100%) !important;
    }

    /* ------- Aurora + Starfall Tides ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="aurora/asset.webm"]),
    .container__4bbc6:has(img[src$="aurora/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="starfall_tides/asset.webm"]),
    .container__4bbc6:has(img[src$="starfall_tides/static.png"]) {
        background: linear-gradient(270deg, rgba(8, 100, 96, 0.1) 0%, rgba(8, 100, 96, 0.4) 100%) !important;
    }

    /* ------- White Mana ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="white_mana/asset.webm"]),
    .container__4bbc6:has(img[src$="white_mana/static.png"]) {
        background: linear-gradient(270deg, rgba(220, 62, 151, 0.1) 0%, rgba(220, 62, 151, 0.4) 100%) !important;
    }

    /* ------- Red Mana ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="red_mana/asset.webm"]),
    .container__4bbc6:has(img[src$="red_mana/static.png"]) {
        background: linear-gradient(270deg, rgba(144, 0, 7, 0.1) 0%, rgba(144, 0, 7, 0.4) 100%) !important;
    }

    /* ------- Green Mana ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="green_mana/asset.webm"]),
    .container__4bbc6:has(img[src$="green_mana/static.png"]) {
        background: linear-gradient(270deg, rgba(4, 123, 32, 0.1) 0%, rgba(4, 123, 32, 0.4) 100%) !important;
    }

    /* --------- Moonlit Charm ----------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="moonlit_charm/asset.webm"]),
    .container__4bbc6:has(img[src$="moonlit_charm/static.png"]) {
        background: linear-gradient(270deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.4) 100%) !important;
    }

    /* --------- Starfall Tides ----------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="starfall_tides_nightshade/asset.webm"]),
    .container__4bbc6:has(img[src$="starfall_tides_nightshade/static.png"]) {
        background: linear-gradient(270deg, rgba(137, 58, 153, 0.1) 0%, rgba(137, 58, 153, 0.4) 100%) !important;
    }

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="starfall_tides_rose/asset.webm"]),
    .container__4bbc6:has(img[src$="starfall_tides_rose/static.png"]),
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="im_watching_yooooou_treat/asset.webm"]),
    .container__4bbc6:has(img[src$="im_watching_yooooou_treat/static.png"]) {
        background: linear-gradient(270deg, rgba(220, 62, 151, 0.1) 0%, rgba(220, 62, 151, 0.4) 100%) !important;
    }

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="nitro_rocketfuel_nameplate/asset.webm"]),
    .container__4bbc6:has(img[src$="nitro_rocketfuel_nameplate/static.png"]) {
        background: linear-gradient(270deg, rgba(115, 11, 200, 0.1) 0%, rgba(115, 11, 200, 0.4) 100%) !important;
    }

    /* --------- Arctic Winter Frost ----------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="arctic_winter_frost/asset.webm"]),
    .container__4bbc6:has(img[src$="arctic_winter_frost/static.png"]) {
        background: linear-gradient(270deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.4) 100%) !important;
    }
}