/* --------------------------- GLOBAL --------------------------- */

/* Nameplate size */
._5d473ecff348c314-member ._4bbc6dc06e75ad52-container {
    left: 7px;
    width: 97%;
}

/* Clearer nameplate (mostly for member list) */
._4bbc6dc06e75ad52-videoContainer,
._4bbc6dc06e75ad52-img {
    mask-image: none !important;
}

/* --------------------------- USER PANEL --------------------------- */
._5e434347c823b592-panels:has(._5e434347c823b592-activityPanel) ._4bbc6dc06e75ad52-container,
._5e434347c823b592-panels:has(.e131a99484292a19-container) ._4bbc6dc06e75ad52-container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

._5e434347c823b592-panels ._4bbc6dc06e75ad52-container {
    border-radius: inherit;
    left: -4px;
    top: -2px;
    height: 103%;
    width: 104%;
}

/* Remove border for VC panel and activity panel */
.visual-refresh ._5e434347c823b592-panels:has(._4bbc6dc06e75ad52-container) .e131a99484292a19-wrapper,
.visual-refresh ._5e434347c823b592-panels:has(._4bbc6dc06e75ad52-container) ._5dec784a68542d60-panel {
    border-bottom: 0px solid rgba(225, 240, 253, 0.123);
}

/* Add border when VC panel and activity panel both appear */
.visual-refresh ._5e434347c823b592-panels:has(.e131a99484292a19-container) ._5dec784a68542d60-panel {
    border-bottom: 1px solid rgba(225, 240, 253, 0.123);
}

/* Clearer nameplate display globally */
._4bbc6dc06e75ad52-img,
/* on member list */
._4bbc6dc06e75ad52-img._4bbc6dc06e75ad52-hover,
._4bbc6dc06e75ad52-img._4bbc6dc06e75ad52-selected,
/* on store */
._4bbc6dc06e75ad52-img._4bbc6dc06e75ad52-preview,
/* on user panel */
._4bbc6dc06e75ad52-img._4bbc6dc06e75ad52-account,
._4bbc6dc06e75ad52-img._4bbc6dc06e75ad52-account._4bbc6dc06e75ad52-hover,
/* on dm */
._4bbc6dc06e75ad52-img._4bbc6dc06e75ad52-channel._4bbc6dc06e75ad52-selected,
._4bbc6dc06e75ad52-img._4bbc6dc06e75ad52-channel._4bbc6dc06e75ad52-hover {
    opacity: 1;
}



/* --------------------------- SPECIFIC NAMEPLATE --------------------------- */
.theme-dark {

    /* ------- Twilight + Sword of Legend + Sun and Moon + Blue Mana ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="twilight/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="twilight/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="sword_of_legend/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="sword_of_legend/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="sun_and_moon/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="sun_and_moon/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="blue_mana/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="blue_mana/static.png"]) {
        background: linear-gradient(270deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.4) 100%) !important;
    }

    /* ------- Cherry blossoms + Oasis + Cozy Cat ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="cherry_blossoms/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="cherry_blossoms/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="oasis/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="oasis/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="cozy_cat/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="cozy_cat/static.png"]) {
        background: linear-gradient(270deg, rgba(137, 58, 153, 0.1) 0%, rgba(137, 58, 153, 0.4) 100%) !important;
    }

    /* ------- Spririt of spring + Koi pond + Touch Grass + Under the Sea ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="spirit_of_spring/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="spirit_of_spring/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="koi_pond/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="koi_pond/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="touch_grass/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="touch_grass/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="under_the_sea/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="under_the_sea/static.png"]) {
        background: linear-gradient(270deg, rgba(0, 128, 183, 0.1) 0%, rgba(0, 128, 183, 0.4) 100%) !important;
    }

    /* ------- Cityscape + Cat beans + Vengeance + Black Mana + Glitch + Spirit Moon ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="cityscape/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="cityscape/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="cat_beans/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="cat_beans/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="vengeance/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="vengeance/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="black_mana/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="black_mana/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="glitch/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="glitch/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="spirit_moon/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="spirit_moon/static.png"]) {
        background: linear-gradient(270deg, rgba(115, 11, 200, 0.1) 0%, rgba(115, 11, 200, 0.4) 100%) !important;
    }

    /* ------- Angels + Bonsai + Pixie Dust ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="angels/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="angels/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="bonsai/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="bonsai/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="pixie_dust/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="pixie_dust/static.png"]) {
        background: linear-gradient(270deg, rgba(220, 62, 151, 0.1) 0%, rgba(220, 62, 151, 0.4) 100%) !important;
    }

    /* ------- Aurora + Starfall Tides ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="aurora/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="aurora/static.png"]),

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="starfall_tides/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="starfall_tides/static.png"]) {
        background: linear-gradient(270deg, rgba(8, 100, 96, 0.1) 0%, rgba(8, 100, 96, 0.4) 100%) !important;
    }

    /* ------- White Mana ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="white_mana/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="white_mana/static.png"]) {
        background: linear-gradient(270deg, rgba(220, 62, 151, 0.1) 0%, rgba(220, 62, 151, 0.4) 100%) !important;
    }

    /* ------- Red Mana ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="red_mana/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="red_mana/static.png"]) {
        background: linear-gradient(270deg, rgba(144, 0, 7, 0.1) 0%, rgba(144, 0, 7, 0.4) 100%) !important;
    }

    /* ------- Green Mana ------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="green_mana/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="green_mana/static.png"]) {
        background: linear-gradient(270deg, rgba(4, 123, 32, 0.1) 0%, rgba(4, 123, 32, 0.4) 100%) !important;
    }

    /* --------- Moonlit Charm ----------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="moonlit_charm/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="moonlit_charm/static.png"]) {
        background: linear-gradient(270deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.4) 100%) !important;
    }

    /* --------- Starfall Tides ----------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="starfall_tides_nightshade/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="starfall_tides_nightshade/static.png"]) {
        background: linear-gradient(270deg, rgba(137, 58, 153, 0.1) 0%, rgba(137, 58, 153, 0.4) 100%) !important;
    }

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="starfall_tides_rose/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="starfall_tides_rose/static.png"]),
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="im_watching_yooooou_treat/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="im_watching_yooooou_treat/static.png"]) {
        background: linear-gradient(270deg, rgba(220, 62, 151, 0.1) 0%, rgba(220, 62, 151, 0.4) 100%) !important;
    }

    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="nitro_rocketfuel_nameplate/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="nitro_rocketfuel_nameplate/static.png"]) {
        background: linear-gradient(270deg, rgba(115, 11, 200, 0.1) 0%, rgba(115, 11, 200, 0.4) 100%) !important;
    }

    /* --------- Arctic Winter Frost ----------- */
    ._4bbc6dc06e75ad52-container:has(._4bbc6dc06e75ad52-videoContainer video[src$="arctic_winter_frost/asset.webm"]),
    ._4bbc6dc06e75ad52-container:has(img[src$="arctic_winter_frost/static.png"]) {
        background: linear-gradient(270deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.4) 100%) !important;
    }
}