/* Remove Guild Tag Banner */
/* .dca174a2baed7ac1-banner {
    background: transparent !important;
} */

/* .dca174a2baed7ac1-container {
    background: var(--background-shading);
} */

/* .c0bea05627c5dc35-outer.custom-user-profile-theme .c0bea05627c5dc35-inner {
    
} */

/* User pop up remove banner for non-nitro users*/
/* :where(._68edb95846a37624-banner:not([style*="background-image"])) {
    background: none !important;
} */

/* Gradient top banner for non-nitro only */
/* Need to keep banner on top for it to work.... */
.c0bea05627c5dc35-outer:not(.custom-user-profile-theme) .c0bea05627c5dc35-inner ._68edb95846a37624-mask {
    mask: linear-gradient(black -5%, 0%, transparent);
}

/* Remove outer padding + remove custom nitro background for nitro user */
.c0bea05627c5dc35-outer.custom-user-profile-theme {
    padding: 0;
}

/* Shading user pop for non-nitro user */
/* .c0bea05627c5dc35-outer:not(.custom-user-profile-theme) {
    background: var(--card-shading);
}

._49fc18ba07c5025f-fullscreenOnMobile .c0bea05627c5dc35-outer:not(.custom-user-profile-theme) {
    background: var(--popout-shading);
} */

/* 
.faf9c0f0be1b8685-animatorRight .c0bea05627c5dc35-outer:not(.custom-user-profile-theme) {
    background: var(--popout-shading);
} */



/* This is something fun.....  */
/* .c0bea05627c5dc35-outer .c0bea05627c5dc35-inner {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--background-image) no-repeat center center / cover !important;
    background-position: center calc(100% + 100px) !important;
} */

/* Transparent user pop */
/* .user-profile-popout:not(.custom-user-profile-theme)::before {
    background: transparent;
} */